body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 18px; */
}

#App {
}

#App h1 {
    font-size: 1.5em;
    margin-left: 60px;
    border-bottom: 2px solid black;
    padding: 8px;
}

#App-body {
    margin-left: 160px;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0;
}

button {
    padding: .25em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

h3, h4 {
    margin-bottom: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #a9aeb2;
}

select {
    min-width: 20em;
}
.select-single {
}

